/*Statistics*/
  .statistics-content{
    position: absolute;
    font-size: 18px;
    color: white;
    right: 0px;
    width: 250px;
    top: 0px;
    height: 380px;
    text-align: center;
    display: grid;

  
  }

  .statistic-text{
    background-color: var(--color-secondary-2);
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;

  }

  .statisticA-title::before{
    content: "♟ ";
    color: white;
  }
  .statisticB-title::before{
    content: "♞ ";
    color: white;
  }

  .statisticC-title::before{
    content: "♕ ";
    color: white;
  }

  .statisticA-title{
    text-align: center;
    font-size: 22px;
    color: white;
  }

  .statisticB-title{
    text-align: center;
    font-size: 22px;
    color: white;
  }

  .statisticC-title{
    text-align: center;
    font-size: 22px;
    color: white;
  }

  .statistic-number{
    text-align: center;
    font-size: 20px;
    color: white;
  }
