/*Statistics*/

.statistics-container {
    margin: 156px 28px 60px;
    /* box-shadow: 0 0 0 1px; */
    display: flex;
    flex-flow: column;
    flex: 0 1 auto;
    max-width: 350px;
    background: var(--color-secondary-1);
    box-shadow: 0 1px 4px 0 var(--color-secondary-5);
  }

  .statistics-content{
    overflow-y: scroll;
    padding: 4px;
    overflow-x: hidden;
    flex: 1 1 auto;
    color: white;
    /* box-shadow: 0 0 0 1px; */
    -ms-overflow-style: none;  /*hide scrollbar in IE and Edge */
    scrollbar-width: none;     /*hide scrollbar in  Firefox */
  }