:root {
  --color-primary-1: #c08c4f;
  --color-primary-2: #8d602d;
  --color-primary-3: #644017;
  --color-primary-4: #3f2609;
  --color-primary-5: #201201;
  --color-secondary-1: #35637A;
  --color-secondary-2: #1f4659;
  --color-secondary-3: #11303f;
  --color-secondary-4: #071d28;
  --color-secondary-5: #010e14;
}
